:root {
  --color-black:      hsl(0, 0%, 0%);
  --color-gray:       hsl(0, 0%, 70%);
  --color-gray-light: hsl(0, 0%, 90%);
  --color-white:      hsl(0, 0%, 100%);
  --color-gold:       hsl(52, 25%, 71%);
}

.lazy-show {
  opacity: 0;
  transform: translateY(100px);
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro';
  color: var(--color-black);
  line-height: 1.5;
}
body {
  background-color: var(--color-white);
}
h1 {
  font-size: 40px;
  font-weight: 300;
}
h2 {
  font-size: 34px;
  font-weight: 300;
}
h2::before {
  content: "";
  background-color: var(--color-black);
  width: 400px;
  height: 24px;
  top: 11px;
  left: -420px;
  position: absolute;
}
h3 {
  font-size: 30px;
  font-weight: 500;
}
h4 {
  font-size: 26px;
  font-weight: 500;
}
h5 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-gray);
}
p {
  font-size: 16px;
  font-weight: 400;
}
p + p {
  margin-top: 16px;
}
.header-container {
  width: 100%;
  height: 100vh;
  background-image: url('./img/dumb/sebastian-holgado-1093599-unsplash.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
}
.fade-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--color-white);
  opacity: 0;
  position: absolute;
  z-index: 2;
}
.img-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 1;
}
.header-container-pattern {
  width: 100%;
  height: calc(100vw / 4);
  top: calc(100vh - 100vw / 4);
  position: relative;
  z-index: 4;
}

.menu {
  width: 100vh;
  height: 0px;
  top: calc(100vh - 20px);
  left: calc(100vw - 41px);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left;
  position: fixed;
  z-index: 100;
}
.menu-bg {
  width: 66px;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffffbe;
  z-index: 90;
}
.menu span {
  margin: 0;
  padding: 20px 20px;
  color: var(--color-black);
  cursor: pointer;
}
.menu span:hover {
  color: var(--color-gold);
}
.menu-overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 40;
  position: fixed;
}
.closer {
  width: 60px;
  height: 60px;
  top: 20px;
  right: 2px;
  padding: 13px 0 0 12px;
  fill: var(--color-black);
  position: fixed;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 200;
}
.closer:hover {
  fill: var(--color-gold);
}
.projects-list {
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 60;
}
.projects-list li {
  font-size: 34px;
  font-weight: 300;
  color: var(--color-black);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.projects-list li:hover {
  color: var(--color-gold);
  background-color: var(--color-white);
}
#menu-project-preview {
  /* width: 400px;
  height: 400px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: 50;
}

.copy {
  width: 100vh;
  height: 0px;
  top: calc(100% - 20px);
  left: 27px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left;
  position: fixed;
  z-index: 100;
}
.copy span {
  margin: 0;
  padding: 20px 20px;
  color: var(--color-black);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  margin: 0;
  padding: 40px 10px;
  z-index: 2;
  position: relative;
}
.grid-header-logotype {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.grid-header-logotype svg {
  fill: var(--color-white);
  cursor: pointer;
}
.grid-header-logotype:hover svg {
  fill: var(--color-gold);
}
.grid-header-title {
  grid-column: 4 / 13;
  grid-row: 1 / 2;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
}
.grid-header-dash {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
  background-color: var(--color-white);
  width: 100%;
  height: 1px;
  margin-top: 25px;
}

.grid-header-we {
  grid-column: 4 / 12;
  grid-row: 2 / 3;
  margin-top: 100px;
  z-index: 3;
}
.grid-header-we h2, .grid-header-we h4 {
  color: var(--color-white);
}
.grid-header-we h4 {
  line-height: 1.7;
}
.grid-header-we h4 span {
  background-color: var(--color-black);
  padding: 7px;
}
.grid-header-we h4 span + span {
  margin-left: 30px;
}
.grid-header-we h4 span:first-child {
  padding: 7px 7px 7px 0;
}

.grid-project-last-title {
  grid-column: 2 / 12;
  grid-row: 3 / 4;
  margin-top: 600px;
  margin-bottom: 50px;
}
.grid-project-last {
  grid-column: 2 / 12;
  grid-row: 4 / 5;
}
.grid-project-last h3 {
  cursor: pointer;
}
.grid-project-last:hover h3 {
  color: var(--color-gold);
}
.grid-project-last h6 {
  margin-left: 10vw;
}
.grid-project-last h6, .grid-project-last h3 {
  display: inline;
}
.grid-project-last div {
  width: 100%;
  height: calc(((100vw - 240px) / 12 * 10 + 180px) / 1.618033);
  background-image: url('./img/dumb/julien-lanoy-1095142-unsplash.jpg');
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}
.grid-project-last:hover div {
  background-size: 110%;
}

.grid-about-title {
  grid-column: 2 / 12;
  grid-row: 5 / 6;
  margin-top: 200px;
}
.grid-about {
  grid-column: 1 / 13;
  grid-row: 6 / 7;
  background-color: var(--color-black);
  padding: 50px;
}
.grid-about h2 {
  color: var(--color-white);
}
.grid-about h4 {
  line-height: 1.7;
}
.grid-about h4 span {
  background-color: var(--color-white);
  padding: 7px;
}
.grid-about h4 span + span {
  margin-left: 30px;
}
.grid-about h4 span:first-child {
  padding: 7px 7px 7px 0;
}
.grid-about-comp-1 {
  grid-row: 7 / 8;
  margin-top: 30px;
}
.grid-about-comp-2 {
  grid-row: 8 / 9;
}
.grid-about-comp-3 {
  grid-row: 9 / 10;
}
.grid-about-comp-1,.grid-about-comp-2,.grid-about-comp-3 {
  margin-bottom: 20px;
}
.comp-1 {
  grid-column: 4 / 7;
}
.comp-2 {
  grid-column: 8 / 11;
}

.grid-projects {
  grid-column: 1 / 13;
  grid-row: 10 / 11;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  width: 100%;
  margin: 200px 0;
}
.grid-projects-button {
  grid-column: 6 / 9;
  margin-top: 150px;
  padding: 12px 15px 10px;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
}
.grid-projects-button:hover {
  background-color: var(--color-gold);
}
.grid-projects-title {
  grid-column: 2 / 13;
  margin-bottom: 50px;
}
.grid-projects-project {
  cursor: pointer;
}
.grid-projects-project + .grid-projects-project {
  margin-top: 200px;
}
.grid-projects-project:hover .grid-projects-project-title {
  color: var(--color-gold);
}
.grid-projects-project-title {
  display: inline;
}
.grid-projects-project-subtitle {
  margin-left: 10vw;
  display: inline;
}
.grid-projects-project-img {
  width: 100%;
  background-position: center;
  background-size: 100%;
}
.grid-projects-project:hover .grid-projects-project-img {
  background-size: 110%;
}
.grid-projects-project-img-1 {
  height: calc(((100vw - 240px) / 12 * 8 + 140px) / 1.618033);
  background-image: url('./img/dumb/alex-smith-688708-unsplash.jpg');
}
.grid-projects-project-img-2 {
  height: calc(((100vw - 240px) / 12 * 6 + 100px) / 1.618033);
  background-image: url('./img/dumb/ilnur-kalimullin-332587-unsplash.jpg');
}
.grid-projects-project-img-3 {
  height: calc(((100vw - 240px) / 12 * 7 + 120px) / 1.618033);
  background-image: url('./img/dumb/daniel-korpai-1101671-unsplash.jpg');
}
.grid-projects-start-1  { grid-column-start: 1; }
.grid-projects-start-2  { grid-column-start: 2; }
.grid-projects-start-3  { grid-column-start: 3; }
.grid-projects-start-4  { grid-column-start: 4; }
.grid-projects-start-5  { grid-column-start: 5; }
.grid-projects-start-6  { grid-column-start: 6; }
.grid-projects-start-7  { grid-column-start: 7; }
.grid-projects-start-8  { grid-column-start: 8; }
.grid-projects-start-9  { grid-column-start: 9; }
.grid-projects-start-10 { grid-column-start: 10; }
.grid-projects-start-11 { grid-column-start: 11; }
.grid-projects-start-12 { grid-column-start: 12; }
.grid-projects-start-12 { grid-column-start: 13; }
.grid-projects-end-1    { grid-column-end: 1; }
.grid-projects-end-2    { grid-column-end: 2; }
.grid-projects-end-3    { grid-column-end: 3; }
.grid-projects-end-4    { grid-column-end: 4; }
.grid-projects-end-5    { grid-column-end: 5; }
.grid-projects-end-6    { grid-column-end: 6; }
.grid-projects-end-7    { grid-column-end: 7; }
.grid-projects-end-8    { grid-column-end: 8; }
.grid-projects-end-9    { grid-column-end: 9; }
.grid-projects-end-10   { grid-column-end: 10; }
.grid-projects-end-11   { grid-column-end: 11; }
.grid-projects-end-12   { grid-column-end: 12; }
.grid-projects-end-12   { grid-column-end: 13; }


.grid-reviews-title {
  grid-column: 2 / 13;
  grid-row: 11 / 12;
  margin-bottom: 30px;
}
.grid-review {
  grid-column: 2 / 12;
  grid-row: 12 / 13;
  padding: 50px;
  display: flex;
  background-color: var(--color-black);
}
.grid-review-logo {
  width: 400px;
}
.grid-review-logo h5,
.grid-review-logo h6 {
  color: var(--color-white);
}
.grid-review-logo svg {
  margin-bottom: 20px;
}
.grid-review-text {
  width: 100%;
}
.grid-review-text p {
  color: var(--color-gray-light);
}
.grid-reviews-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-reviews-pagination svg {
  margin: 20px 0 20px 50px;
  fill: var(--color-gray);
  cursor: pointer;
}
.grid-reviews-pagination .active {
  fill: var(--color-white);
}
.grid-reviews-pagination svg:hover {
  fill: var(--color-gold);
}
.grid-reviews-pagination .active:hover {
  fill: var(--color-white);
  cursor: default;
}

.grid-partners-title {
  grid-column: 2 / 13;
  grid-row: 14 / 15;
  margin: 200px 0 30px;
}
.grid-partners-list {
  grid-column: 2 / 12;
  grid-row: 15 / 16;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  margin-bottom: 30px;
}
.grid-partners-list div {
  height: calc((100vw - 240px) / 12 * 2 + 20px);
  justify-self: stretch;
  align-self: stretch;
}
.grid-partners-list div:hover {
  background-color: var(--color-gray-light);
}
.grid-partners-list div svg {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-gray);
  display: block;
  position: relative;
}
.grid-partners-list div svg path {
  fill: var(--color-gray);
}

.grid-footer {
  grid-column: 1 / 13;
  grid-row: 16 / 17;
  height: 200px;
  line-height: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.grid-footer span {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.grid-footer span:hover {
  color: var(--color-gold);
}





.grid-header-logotype svg,
.grid-project-last h3,
.grid-projects-project-title,
.menu span,
.grid-partners-list div {
  transition: all 50ms ease-out;
}

.projects-list li,
#menu-project-preview,
.grid-header-contacts,
.closer,
.menu-overlay,
.grid-project-last div,
.grid-projects-project-img,
.grid-projects-button,
.grid-reviews-pagination svg,
.grid-footer span {
  transition: all 150ms ease-out;
}

.lazy-show,
.menu,
.menu-bg {
  transition: all 300ms ease-out;
}




@media (max-width: 375px) {
  h1 { font-size: 36px; }
  h2 { font-size: 30px; }
  h2::before { display: none; }
  h3 { font-size: 26px; }
  h4 { font-size: 22px; }
  h5 { font-size: 16px; }
  h6 { font-size: 10px; }
  p {  font-size: 14px; }
  p + p { margin-top: 14px; }

  .header-container {
    height: 88vh;
  }
  .header-container-pattern {
    top: calc(88vh - 100vw / 4);
  }

  .closer {
    top: 3px;
    right: 0px;
  }

  .menu {
    top: calc(100vh - 6px);
    left: calc(100vw - 21px);
  }
  .menu span {
    padding: 10px 14px;
  }
  .menu-bg {
    width: 30px;
  }
  .projects-list {
    width: 100vw;
  }
  .projects-list li {
    font-size: 30px;
  }

  .copy {
    top: calc(100% - 0px);
    left: 7px;
  }

  .grid {
    grid-gap: 15px;
    padding: 20px 10px;
  }
  .grid-header-logotype {
    grid-column: 1 / 13;
  }
  .grid-header-title {
    grid-column: 1 / 13;
    margin-top: 36px;
  }
  .grid-header-dash {
    grid-column: 5 / 11;
  }
  .grid-header-dash {
    display: none;
  }
  .grid-header-we {
    grid-column: 1 / 12;
    margin-top: 50px;
  }
  .grid-header-we h4 {
    word-break: break-all;
  }

  .grid-project-last-title {
    grid-column: 1 / 13;
    margin-top: 250px;
    margin-bottom: 0px;
  }
  .grid-project-last {
    grid-column: 1 / 13;
  }
  .grid-project-last h6 {
    margin: 0 0 10px 0;
    display: block;
  }
  .grid-project-last div {
    height: calc(100vw - 20px);
  }

  .grid-about-title {
    grid-column: 1 / 13;
    margin-top: 100px;
  }
  .grid-about {
    grid-column: 1 / 12;
    padding: 15px;
  }
  .grid-about h4 {
    font-size: 18px;
    word-break: break-all;
  }
  .grid-about h4 span {
    padding: 5px;
  }
  .grid-about h4 span:first-child {
    padding: 5px 5px 5px 0;
  }
  .comp-1 {
    grid-column: 1 / 7;
  }
  .comp-2 {
    grid-column: 7 / 12;
  }
  .grid-projects {
    margin: 80px 0;
  }
  .grid-projects-title {
    grid-column: 1 / 13;
    margin-bottom: 0px;
  }
  .grid-projects-start-2 {
    grid-column-start: 1;
  }
  .grid-projects-start-3 {
    grid-column-start: 1;
  }
  .grid-projects-start-6 {
    grid-column-start: 1;
  }
  .grid-projects-end-10 {
    grid-column-end: 13;
  }
  .grid-projects-project-subtitle {
    margin: 0 0 10px 0;
    display: block;
  }
  .grid-projects-project-img-1,
  .grid-projects-project-img-2,
  .grid-projects-project-img-3 {
    height: calc(100vw - 10px);
  }
  .grid-projects-project + .grid-projects-project {
    margin-top: 50px;
  }
  .grid-projects-button {
    grid-column: 1 / 13;
    font-size: 20px;
    margin-top: 30px;
  }

  .grid-reviews-title {
    grid-column: 1 / 13;
    margin-bottom: 0px;
  }
  .grid-review {
    padding: 20px;
    flex-flow: column;
  }
  .grid-review-logo {
    width: 100%;
  }
  .grid-review-text {
    margin-top: 20px;
  }
  .grid-reviews-pagination {
    flex-direction: row;
    margin-top: 30px;
  }
  .grid-reviews-pagination svg {
    margin: 15px;
  }

  .grid-partners-title {
    grid-column: 1 / 13;
    margin: 100px 0 0;
  }
  .grid-partners-list {
    grid-column: 1 / 13;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto));
    margin-bottom: 0px;
  }
  .grid-partners-list div {
    height: calc((100vw - 40px) / 2);
  }

  .grid-footer {
    display: none;
  }
}